#### #### #### ####
#### C++
#### #### #### ####

# Build outputs
**/target

#### #### #### ####
#### CMake
#### #### #### ####

cmake-build-*/

#### #### #### ####
#### IDEs
#### #### #### ####
**/.vs/
**/.vscode/

**/.idea/
